router/build/
router/yotta_modules/
router/yotta_targets/
router/.yotta.json
*.swp
*.swo
tags
router/tags
router/tags.temp
router/tags.lock
desktop_app/node_modules
desktop_app/dist
desktop_app/build
desktop_app/.DS_Store
desktop_app/*.log
*~
