html, body, .fullSize, #app, #mainContainer {
	height: 100% !important;
	width: 100% !important;
}

.graph {
	height: 70%;
}

.msg {
	height: 30%;
}

.modal-backdrop {
	background-color: grey;
	opacity: 0.3;
}

h4.modal-title {
	display: inline-block;
}