.fullsize {
	height: 100% !important;
	width: 100% !important;
}

h4.modal-title {
	display: inline-block;
}

#carouselRow {
	height: 90% !important;
}

.frontPageRow {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100% !important;
}

#skipButton {
	width: 25% !important;
	margin: 0 auto !important;
	background-color: #63B66E;
	border-color: #63B66E;

}

.img-fluid {
	width: 85% !important;
	margin: 0 auto;
}

.carousel-control-prev-icon {
    background-image: url("./assets/left_arrow.png");
}

.carousel-control-next-icon {
    background-image: url("./assets/right_arrow.png");
}

#mainRow {
	margin: 0;
}


.col, .col-9, #mainContainer {
	padding: 0;
}

.card {
	margin-bottom: 10px;
}

#packetCol {
	overflow: auto;
	margin-top: 10px;
}

.PING {
	background-color: #FBC0FF;
}

.LSA {
	background-color: #88B3FF;
}